@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
  --color-primary: #eb1ccc;
  --color-secundary: #95989a;
  --text-primary: #fff;
  --text-secundary: #000;
  --text-tertiary: #5d5d5d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

/*Event Form*/

#event-description{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('hrz-5.jpg');
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-primary);
}

.disclaimer h2, .event-date{
  color: var(--color-primary);
}

.disclaimer h2{
  font-size: 3em;
  margin-bottom: 1em;
}

.disclaimer .about-event{
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
}

.disclaimer p{
  font-size: 1.2em;
  margin-bottom: .3em;
}

.disclaimer .event-date{
  font-weight: bold;
}

#subscribe-form{
  background: var(--color-secundary);
  padding: 2em;
  max-width: 22%;
}

#subscribe-form p{
  font-size: 1.5em;
  color: var(--text-secundary);
  margin-bottom: 1em;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: .8em;
}

.span-required{
  color: red;
  font-size: 16px;
  padding: 0 10px;
  display: none;
}

.form-group label{
  color: var(--text-tertiary);
  margin-bottom: .3em;
  font-weight: bold;
}

.form-group input{
  border: 1px solid var(--text-primary); 
}

.form-group input,.form-group select{
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  outline: none;
}

.btn{
  background: var(--color-primary);
  color: var(--text-primary);
  text-transform: uppercase;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 12px;
  opacity: .8;
}

.btn:hover{
  opacity: 1;
}

/*Benefits section*/

.key-benefits h2{
  background: var(--color-secundary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits{
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}

.benefit{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1{
  background-image: url('sqr-1.jpg');
}

#benefit-2{
  background-image: url('sqr-2.jpg');
}

#benefit-3{
  background-image: url('sqr-3.jpg');
}

/*Event Location*/

#location{
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('hrz-1.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-primary);
  margin-bottom: 3em;
}

#address, #about-location{
  max-width: 30%;
}

#address{
  display: flex;
}

#address i{
  color: var(--color-primary);
  font-size: 4em;
  margin-right: 0.5em;
}

#address-details{
  text-align: center;
  font-size: 1.3em;
  display: flex;
}

#about-location h3{
  color: var(--color-primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

/*Event details*/

#deatils{
  width: 80%;
  margin: 0 auto;
}

.deatil{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4em;
}

.deatil img{
  width: 50%;
}

.deatil h3{
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
}

#detail-01 h3{
  font-size: 3em;
  font-weight: 700;
}

.deatil-description{
  width: 100%;
  padding-left: 2em;
}

.deatil-description ul{
  list-style-position: inside;
}

.deatil-description ul li{
  margin-bottom: 0.4em;
}

.deatil-description ul li:last-child{
  font-weight: bold;
}

/*Call to Action*/

#cta{
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('hrz-1.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

#cta h3{
  margin-bottom: 1.2em;
  font-size: 2em;
  font-weight: 500;
}

#cta .btn{
  width: 30%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
}

/*Footer*/

footer{
  text-align: center;
  color: var(--text-secundary);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h3{
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

footer p:nth-child(2){
  margin-bottom: 1em;
  font-size: 1.2em;
}

footer span{
  font-weight: bold;
}

/*Responsividade*/

@media(max-width: 450px){

  .btn{
    opacity: 1;
  }

  /*Event Form*/

  #event-description{
    flex-direction: column;
    height: auto;
  }

  .disclaimer{
    padding: 2em;
  }

  .disclaimer h2{
    margin-bottom: 0.5em;
  }

  #subscribe-form{
    max-width: 70%;
    margin-bottom: 2em;
  }

  /*Benefits section*/

  .benefits{
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
  }

  .benefit{
    max-width: 100%;
    margin-bottom: 2em;
  }

  /*Event Location*/

  #location{
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 2em 0;
  }

  #address{
    order: 2;
    flex-direction: column;
    max-width: 100%;
    margin-top: 2em;
  }

  #address i{
    display: none;
  }

  #about-location{
    order: 1;
    max-width: 100%;
  }

  #about-location h3{
    margin-bottom: 0;
  }

  #about-location p{
    display: none;
  }

  /*Event Details*/

  .deatil{
    flex-direction: column;
    margin-bottom: 0.5em;
    gap: 0;
  }

  .deatil img{
    width: 100%;
    margin: 2em 0;
  }

  #detail-01 img{
    display: none;
  }

  .deatil-description{
    padding: 0;
  }

  #detail-03 img{
    order: 2;
  }

  #detail-03 .deatil-description{
    order: 1;
  }

  /*Call to Action*/
  
  #cta h3{
    text-align: center;
  }

  #cta .btn{
    width: 80%;
  }
}